header{background:#111;color:#fff;padding:0 60px;height:100px;display: flex; align-items: center;
    justify-content: space-between;}
header h1{color: white; font-weight: bold;}
/* header nav{word-spacing: 20px; font-size: 20px;}
header nav a{ color: #e5e7eb; margin-left: 50px; text-decoration: none; font-weight: 500;}
header nav a:hover { color: #2563eb; } */

header nav a{
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
header nav a:hover{
    color: #2563eb;
}
header nav a::after{
    content: '';
    width: 0; 
    height: 3px;
    background: #2563eb;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}
header nav a:hover::after{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-form {
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}
.contact-form input:focus,
.contact-form textarea:focus{
    border-color: #4a90e2;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}
.contact-form button:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}