*{box-sizing: border-box;}
body{font-family:Arial;margin:0;background:#F5f6f7;padding-top: 80px;}
header{background:#000f08;color:#fff;padding:0 60px;display: flex; align-items: center;
    justify-content: space-between;top: 0; right: 0; left: 0; width: 100; position: fixed; z-index: 1000;}
header h1{color: white; font-weight: bold;}
header h1{
    transition: transform 0.3s ease,box-shadow 0.3s ease ;
}
header h1:hover{
    transform: scale(1.07);
    box-shadow: 0 15px 25px #F5f6f7(0, 0, 0,0.2 );
    color: #F5f6f7}

header nav a{
    color: #F5f6f7;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
header nav a:hover{
    color: #F5f6f7;
}
header nav a::after{
    content: '';
    width: 0; 
    height: 3px;
    background: #F5f6f7;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}
header nav a:hover::after{
    width: 100%;
}
.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5f6f7;
    font-family: Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-form {
    flex-direction: column;
    background: white;
    padding: 40px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 10px 25px #2b2e33(0, 0, 0, 0.1);
    text-align: center;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}
.contact-form input:focus,
.contact-form textarea:focus{
    border-color: #2b2e33;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to bottom, #2b2e33, #2b2e33);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}
.contact-form button:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}