body{font-family:Arial;margin:0;background:#f5f5f5;}
header{background:#111;color:#fff;padding:0 60px;height:100px;display: flex; align-items: center;
    justify-content: space-between;}
header h1{color: white; font-weight: bold;}
/* header nav{word-spacing: 20px; font-size: 20px;}
header nav a{ color: #e5e7eb; margin-left: 50px; text-decoration: none; font-weight: 500;}
header nav a:hover { color: #2563eb; } */
header nav a{
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
header nav a:hover{
    color: #2563eb;
}
header nav a::after{
    content: '';
    width: 0; 
    height: 3px;
    background: #2563eb;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}
header nav a:hover::after{
    width: 100%;
}

.hero{text-align:center;padding:20px;background:#2563eb;color:white}
.hero p{
    color: #FFf;
  animation: fade 1s infinite; }
@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }  
}
.btn{background:white;color:#2563eb;padding:10px 20px;text-decoration:none}
.products,.cart{display:grid;grid-template-columns:repeat(auto-fit,minmax(200px,1fr));gap:20px;padding:30px}
.card{background:white;padding:15px;border-radius:10px;text-align:center}
.card img{width:100%;border-radius:10px;}