body{font-family:Arial;margin:0;background:#F5f6f7; padding-top: 80px;}
header{background: #000f08;color:#fff;padding:0 60px;display: flex; align-items: center;
    justify-content: space-between; top: 0; right: 0; left: 0; width: 100; position: fixed; z-index: 1000;}
header h1{color: white; font-weight: bold;}
header h1{
    transition: transform 0.3s ease,box-shadow 0.3s ease ;
}
header h1:hover{
    transform: scale(1.08);
    /* box-shadow: 0 15px 25px rgba(0, 0, 0,0.2 );
    color: #2563eb; */
}
header nav a{
    color: #FFF4E2;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
header nav a:hover{
    color: #FFF4E2;
}
header nav a::after{
    content: '';
    width: 0; 
    height: 3px;
    background: #FFF4E2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}
header nav a:hover::after{
    width: 100%;
}

header div input{
    font-size: 15px;
    padding: 8px 5px;
    text-align: center;
    height: 20px;
    margin-left: 250px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 300px;
    transition: 0.3s ease;
}
header div input:focus{
    width: 450px;
    box-shadow: 0 0 10px #FFF4E2(0, 123, 255,0.6 );
}

.hero{text-align:center;padding-top: 1px; background:#2b2e33;color:white}
.hero p{
    padding-bottom: 20px;
    color: #FFf;
  animation: fade 1s infinite; }
@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }  
}
.btn{background:white;color:#2563eb;padding:10px 20px;text-decoration:none}
.products,.cart{display:grid;grid-template-columns:repeat(auto-fit,minmax(200px,1fr));gap:20px;padding:30px}
.card{background:#FFFFFF;padding:15px;border-radius:20px;text-align:center}
.card img{width:100%;border-radius:20px;}
.card{
    transition: transform 0.3s ease,box-shadow 0.3s ease ;
}
.card:hover{
    transform: scale(1.08);
    box-shadow: 0 15px 25px rgba(0, 0, 0,0.2 );
}